.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  background-color: rgb(26 26 26);
}

.navbar {
  background-color: rgb(40 40 40);
  height: calc(50px);
  width: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0px 1px 3px #0000003d,
    0px 2px 8px #00000029;
}
